mixin input-field(type, key, label, placeholder, max = 255)
  fieldset
    - var value = ''
    if fields && fields[key]
      - value = fields[key]
    if errors && errors[key]
      .input-error= errors[key].msg
    label(for=key)= label
    input(type=type, value=value, name=key, placeholder=placeholder, id=key, maxlength=max, required)
